{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Services</h1>

        <div class="row">
            {% for service in Services %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.nomService }}</h5>
                            <p class="card-text">{{ service.description }}</p>
                            <p class="card-text"><strong>Availability:</strong> {{ service.disponibilite ? 'Yes' : 'No' }}</p>

                        </div>
                    </div>
                </div>
            {% else %}
                <p>No records found</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
